 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 .leftSideBar, .topNavBar{
    background-color: #E7EEFF;
}
.leftSideBar{
    flex-direction: column;
    max-width: 104px;
    gap: 40px;
    padding: 12px 28px 0px 28px;
}
.headerLogo{
    width: 48px;
    height: 48px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1440px;
}

.rightSideContainer {
    width: 100%;
}

.logo{
    width: 24px;
    height: 24px;
}

.topNavBar{
    display: flex;
    padding: 26px 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.searchBar{
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
    justify-self: flex-start;
}
.profileDiv{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.greyText{
    margin-right: 12px;
    color: #5E6577;
    font-size: 16px;
}
.blackText{
    font-size: 16px;
    color: #000;
}

.bluelittleFraim{
    border-radius: 16px;
    background: #E7EEFF;
    padding: 8px 24px;
}
.destinationaMainDiv{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.mainContainer{
    
}
